<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/J2EEOrderPj</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">12345678</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect </property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- 根据需要自动创建数据表 -->
        <property name="hbm2ddl.auto">update</property>

        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <!--在连接池中可用数据库连接的最小数目-->
        <property name="c3p0.min_size">5</property>
        <!--在连接池中所有数据库连接的最大数目-->
        <property name="c3p0.max_size">30</property>
        <!--设定数据库连接的超时时间-->
        <property name="c3p0.time_out">1800</property>
        <!--可以被缓存的PreparedStatement的最大数目-->
        <property name="c3p0.max_statement">50</property>

        <mapping class="nju.edu.order.Model.CommoditiesEntity"/>
        <mapping resource="CommoditiesEntity.hbm.xml"/>
        <mapping class="nju.edu.order.Model.OrdersEntity"/>
        <mapping resource="OrdersEntity.hbm.xml"/>
        <mapping class="nju.edu.order.Model.UserEntity"/>
        <mapping resource="UserEntity.hbm.xml"/>

    </session-factory>
</hibernate-configuration>